@import url("https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro&display=swap");
body,
html {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header,
footer {
  background-color: #111;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
}

p,
a,
.btn {
  font-family: "Source Sans Pro", sans-serif;
}

.btn {
  display: block;
  margin: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 15px;
  border: 2px solid #00b5cc;
  background: #333;
  color: #fff;
  text-transform: capitalize;
}

.btn:hover {
  cursor: pointer;
  background-color: #111;
}

a {
  text-decoration: none;
}

header {
  padding: 0.6rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(17, 17, 17, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #999;
}

header .brand {
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #fff;
}

header .brand:hover {
  color: #00b5cc;
}

header:hover {
  background-color: rgba(17, 17, 17, 0.9);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  top: -55vh;
  left: 0;
  z-index: 2;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav.shown {
  top: 52px;
}

nav .nav-link {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #666;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

nav .nav-link:hover {
  background-color: rgba(17, 17, 17, 0.7);
}

.banner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(https://images.unsplash.com/photo-1472820555436-84b6cad88e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner .banner-head,
.banner .banner-p {
  text-align: center;
  color: #fff;
  text-shadow: 0 2px #333;
}

.banner .banner-head {
  font-size: 2rem;
}

.banner .banner-p {
  font-style: italic;
}

.banner .btn {
  margin-top: 3rem;
  background: rgba(51, 51, 51, 0.8);
  padding: 0.8rem 1.2rem;
}

.banner .btn:hover {
  background-color: #111;
}

.portfolio {
  background: #fff;
  padding: 5rem 2rem;
}

.portfolio .project {
  margin-bottom: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50vh;
  overflow: hidden;
}

.portfolio .project .p-img {
  background: url(https://images.unsplash.com/photo-1536637822328-19377a638a74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.portfolio .project .overlay {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 2rem;
  width: 100%;
  height: 30%;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.8);
  position: relative;
  top: -30%;
}

.portfolio .project .overlay .p-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .project .overlay .p-head .circle {
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg {
  background: url(https://images.unsplash.com/photo-1554209377-15e1415c9936?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 0;
  overflow: hidden;
}

.bg section {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 75%;
  min-height: 60vh;
  margin: 40px auto;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 1px 2px #999;
          box-shadow: 0 1px 1px 2px #999;
  border: none;
  border-radius: 3px;
}

.bg section .head-1 {
  font-size: 2.5rem;
}

.bg section p,
.bg section h2,
.bg section h3 {
  text-align: center;
}

.bg section.skills .btn {
  margin-top: 2.5rem;
}

.bg section .course {
  margin-bottom: 2rem;
}

.bg .contact {
  width: 100%;
  padding: 2rem 1rem;
  background-color: rgba(17, 17, 17, 0.8);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg .contact .text-box {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  border-radius: 10px 10px 0px 0px;
  border: none;
  border-bottom: 2px solid #666;
  background-color: rgba(17, 17, 17, 0.8);
}

.bg .contact input[type="submit"] {
  margin: 0 auto;
}

.bg .contact .action-link {
  display: block;
  margin: 2rem 0;
  padding: 0.3rem 0;
  color: #fff;
  border-bottom: 1px solid #00b5cc;
}

.bg .contact .action-link:hover {
  border-width: 2px;
  padding: 0.3rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin-top: -1rem;
}

footer .btn-reverse {
  margin: 0 1rem;
  color: #999;
}
/*# sourceMappingURL=styles.css.map */